.cart {
	display: flex;
	gap: 30px;

	&__content {
		display: flex;
		flex-direction: column;
		gap: 15px;
		flex: 1 1 60%;
		padding: 40px;
		border-radius: 15px;
		box-shadow: 0px 0px 3px #b4afaf;
		background-color: #fff;
	}

	&__title {
		padding: 0 0 35px 0;
		font-size: 34px;
		font-weight: 700;
		text-align: start;
		border-bottom: 1px solid #cdcbcb;
		background-color: #fff;
	}

	&__list {
		position: relative;
		display: flex;
		flex-direction: column;
	}

	&__bottom-details {
		display: flex;
		flex-direction: column;

		& > div {
			display: flex;
			justify-content: space-between;
			padding: 30px 0;
			font-size: 18px;
			font-weight: 700;
			color: #5b5555;
		}
		& > :not(:last-child) {
			border-bottom: 1px solid #dad6d6;
		}
	}
	&__bottom-total {
		& > * {
			color: #000;
		}
	}

	&__order {
		flex: 1 1 35%;
		height: 100%;
	}
}

.item-cart {
	display: flex;
	align-items: center;
	gap: 50px;
	padding: 40px 0;
	font-size: 18px;
	font-weight: 700;
	border-bottom: 1px solid #dad6d6;
	background-color: #fff;

	&__image {
		flex: 0 0 65%;
		text-align: center;
		max-width: 357px;
		border: 1px solid #e5e3e3;
		border-radius: 10px;
		img {
			// border: 1px solid #e5e3e3;
			border-radius: 10px;
			max-width: 357px;
			max-height: 200px;
		}
	}

	&__content {
		display: flex;
		flex: 0 1 35%;
		height: 100%;
		flex-direction: column;
		justify-content: space-between;
		color: #5b5555;
	}

	&__title {
		font-size: 26px;
		font-weight: 700;
		color: #191919;
	}

	&__buttons {
		display: flex;
		gap: 10px;
	}
	&__button {
		font-size: 20px;
		// padding: 10px;
		cursor: pointer;
		color: #fff;
		background-color: #901e1e;
	}

	&__count {
	}
}

.order-cart {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 40px;
	border-radius: 15px;
	background-color: #fff;
	box-shadow: 0px 0px 3px #b4afaf;
	&__content {
		display: flex;
		flex-direction: column;
		gap: 30px;
	}
	&__title {
		font-size: 34px;
		font-weight: 700;
	}
	&__form {
		display: flex;
		flex-direction: column;
		gap: 15px;
		input {
			padding: 15px 15px;
			width: 100%;
			font-size: 18px;
			border: 1px solid #9f9b9b;
			border-radius: 10px;
			&:focus {
				box-shadow: inset 0 0 0 2px #004ade;
			}
		}

		button {
			padding: 15px;
			width: 100%;
			color: #fff;
			border-radius: 10px;
			background-color: #000;
			font-size: 18px;
			font-weight: 700;
			cursor: pointer;
			transition: all 0.3s ease 0s;

			&:hover {
				background-color: #1b1b1b;
			}

			&:active {
				transform: scale(0.95);
			}
		}
	}
	&__item {
		display: flex;
		gap: 10px;
	}
}

.count-buttons {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 30px;
	width: 100%;

	&__button {
		padding: 10px 15px;
		border-radius: 10px;
		text-align: center;
		background-color: #e5e3e3;
		cursor: pointer;
		transition: all 0.3s ease 0s;

		&:hover {
			background-color: #000;
			border-color: #000;
			color: #fff;
		}

		&:active {
			transform: scale(0.95);
		}
	}

	b {
		font-size: 22px;
	}
}

.details {
	display: flex;
	justify-content: space-between;
	font-size: 18px;
	font-weight: 700;
	color: #5b5555;
}

.cart-details {
	display: flex;
	flex-direction: column;
	box-shadow: 0px 0px 3px #b4afaf;
	background-color: #fff;

	&__title {
		font-size: 26px;
		font-weight: 700;
		padding: 20px;
		color: #858080;
		border-bottom: 1px solid #b4afaf;
	}

	&__content {
		display: flex;
		flex-direction: column;
		gap: 20px;
		padding: 30px 20px 20px;
	}

	&__discount,
	&__delivery {
		span {
			color: green;
		}
	}

	&__total-amount {
		padding: 20px 0;
		color: #191919;
		border-top: dashed #b4afaf 1px;
		border-bottom: dashed #b4afaf 1px;
	}

	&__text {
		color: green;
		font-size: 18px;
		font-weight: 700;
	}
}
